<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Siretizator API</title>
</head>
<body>
    <h1>🚀 Siretizator API</h1>
    <p>Bienvenue ! Cette API vous permet de retrouver les numéros SIRET à partir d'informations partielles sur des agents économiques.</p>

    <h2>🔧 Endpoints disponibles</h2>
    <ul>
        <li><strong>POST /siretize</strong> : recherche d’un seul agent</li>
        <li><strong>POST /siretize_bulk</strong> : recherche pour plusieurs agents</li>
    </ul>

    <h2>📄 Documentation Swagger</h2>
    <p><a href="/docs" target="_blank">Voir la documentation interactive</a></p>

    <h2>📁 GitHub</h2>
    <p><a href="https://github.com/LucasPotin98/Siretizator" target="_blank">Lien vers le dépôt</a></p>

    <h2>🌐 Site web</h2>
    <p><a href="https://lucaspotin98.github.io/" target="_blank">Mon site personnel</a></p>

    </pre>
</body>
</html>
